@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&family=Montserrat:wght@300;600&display=swap');
.skillContainer{
display: flex;
align-items: center;
justify-content: center;
margin: 200px 0;
}
.skillContainer_text{
	color: white;
    flex: 0.6;
    text-align: left;
    max-width: 500px;
    margin-bottom:20px ;
}
.skillContainer_text>h2{
font-size: 30px;
margin-left: 100px;
}
.skillContainer_image{
flex: 0.4;
text-align: center;
margin-right: 100px;
}
.skillContainer_image>img{
width: 600px;
border-radius: 3px;
object-fit: contain;
}
.skillContainer_skillset>h5{
font-family: "Monstserrat",sans-serif;
font-weight:300;
padding-bottom: 30px;
padding-top: 10;

}
.skillContainer_slider>.MuiLinearProgress-barColorPrimary{
background-color:grey;
}
.skillContainer_slider1>div>.MuiLinearProgress-barColorPrimary{
background-color: darkorange;
}
.skillContainer_slider2>div>.MuiLinearProgress-barColorPrimary{
background-color:crimson;
}
.skillContainer_slider3>div>.MuiLinearProgress-barColorPrimary{
background-color:chartreuse;
}
.skillContainer_slider4>div>.MuiLinearProgress-barColorPrimary{
background-color:deeppink;
}
.skillContainer_slider5>div>.MuiLinearProgress-barColorPrimary{
background-color:aquamarine;
}
.skillContainer_slider6>div>.MuiLinearProgress-barColorPrimary{
background-color:gold;
}
.skillContainer_slider7>div>.MuiLinearProgress-barColorPrimary{
background-color:blue;
}